{% extends "base.html" %}

{% block titulo %} Ingresar Docente {% endblock %}

{% block estilos %}
  <style>
    .helptext{
      color: green
    }
    .errorlist{
      color: red
    }
  </style>
{% endblock %}

{% block contenido %}
<H1>FORMULARIO DOCENTE</H1>
{% include "appdocente/docente_t.html" %}

{% for d in docentes  %}
      <div class="col-md-4 bs-callout bs-callout-info">
          <div class="list-group">
            <a href="#" class="list-group-item active">
                  {{d.ape_mat}}
                  {{d.ape_pat}}
            </a>
            <a href="#" class="list-group-item">
              {{d.nombre}}
              <a href="../eliminardocente/{{d.id}}/" class="glyphicon glyphicon-trash red">
              </a>
              <a href="{{d.id}}" class="glyphicon glyphicon-pencil blue"></a>
              <a href="../actual/" class="glyphicon glyphicon-trash red">
              </a>

              <span class="badge"></span>
            </a>
          </div>
      </div>
    {% endfor %}

{% endblock %}
