{% extends "base.html" %}

{% block titulo %} Ingresar Cursos {% endblock %}

{% block estilos %}
  <style>
    .helptext{
      color: purple 
    }
    .errorlist{
      color: yellow 
    }
  </style>
{% endblock %}

{% block contenido %}
<H1>FORMULARIO DE CURSOS</H1>
{% include "curso_t.html" %}

    {% for c in cursos  %}
      <div class="col-md-4 bs-callout bs-callout-info">
          <div class="list-group">
            <a href="#" class="list-group-item active">
                  {{c.ciclo}}
            </a>
            <a href="#" class="list-group-item">
              {{c.descripcioncurso}}
              <a href="../eliminarcurso/{{c.id}}/" class="glyphicon glyphicon-trash red"></a>
              <a href="{{c.id}}" class="glyphicon glyphicon-pencil blue"></a>
              <span class="badge">{{c.creditos}}</span>
            </a>
          </div>
      </div>
    {% endfor %}
{% endblock %}
